<!--新規投稿画面-->
<div class = "row" >
  <div class = "col-md-6 offset-3" >
    <h2>新規投稿</h2>
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with model: @post, url: public_posts_path do |f| %>
      <h6>タイトル</h6>
      <%= f.text_field :title , class: "form-control"%>
      <h6>説明文</h6>
      <%= f.text_area :introduction , class: "form-control"%>
      <h6>画像</h6>
      <%= f.file_field :image, accept: "image/*" , class: "form-control"%>
      <%= f.submit '投稿' %>
    <% end %>
 </div>
</div>