<div class = "row" >
  <div class = "col-md-12">
    <h2>詳細画面</h2>
  </div>

  <div class = "col-md-6">
    <p>画像</p>
    <%= image_tag @post.image, class: "w-100" %>
  </div>
  <div class = "col-md-6">
      <p>タイトル: <%= @post.title %></p>
      <p>説明文: <%= @post.introduction %></p>
  </div>
  <div class = "col-md-6 offset-6">
    <div class="row">
      <div class="col-md-6">
    <% if @post.user_id == current_user.id %>
      <%= link_to "編集", edit_public_post_path(@post.id) %>
    <% end %>
      </div>
      <div class="col-md-6">
    <% if @post.user_id == current_user.id %>
      <%= button_to "削除", public_post_path(@post.id), method: :delete %>
    <% end %>
      </div>
    </div>
  </div>
</div>